h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
#preset_buttons a {
  margin: 0rem 0.2rem 0.5rem 0rem;
}

#websocket-input {
  font-size: 0.8rem;
  border: 0px;
  text-align: right;
}

#response {
  white-space: pre;
  font-family: monospace;
  font-size: 1.5rem;
}
